ol {
    list-style-type: decimal;
    /* Ensures numbered list appears */
    margin-left: 20px;
    margin-bottom: 8px;
    /* Adds indentation */
}

p {
    margin-bottom: 12px;
    /* Adds spacing between paragraphs */
}

br {
    display: block;
    content: " ";
    margin-top: 8px;
    margin-bottom: 8px;
}

li:has(br + br)::after {
    content: "";
    display: block;
    margin-top: 8px; /* Adjust spacing */
}

.message-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.message-actions button a {
    padding: 5px 10px;
    cursor: pointer;
}

.message-actions button:hover {
    background-color: black;
}

.message-actions a:hover {
    background-color: black;
}

.message-actions button.active {
    background-color: #d1e7ff;
}